NEXT_PUBLIC_API_URL=web-production-edb41.up.railway.app
NEXT_PUBLIC_GOOGLE_MAP_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_REVERB_APP_KEY=
NEXT_PUBLIC_REVERB_HOST=localhost
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
NEXT_PUBLIC_REALTIME_ENABLED=true
